.App {
  text-align: center;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.box {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(256px, 2fr));
}
.box>* {
  flex: 0 0 0px;
  margin: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70;
  text-align: center;
}

img {width: 70%;}